---
const items = ["Whoami", "Career", "Publications", "Projects"];
---

<button class="openbtn"><h2>&#9776 Menu</h2></button>
<div class="navbar container">
    {
        items.map((item) => (
            <div id={item} class="nav-item">
                <h3>{item}</h3>
            </div>
        ))
    }
</div>

<script>
    function goTo() {
        document.getElementById(this.id.toUpperCase()).scrollIntoView();
        window.scrollBy(0, -80);
    }
    var items = document.getElementsByClassName("nav-item");

    Array.from(items).forEach(function (item) {
        item.addEventListener("click", goTo);
    });
    document
        .getElementsByClassName("openbtn")[0]
        .addEventListener("click", function () {
            var navbar = document.getElementsByClassName("navbar")[0];
            navbar.style.display = navbar.style.display === "" ? "inline" : "";
            console.log(navbar.style.display);
        });
</script>
