---
const {title,location,href,abstract}= await Astro.props

---
<div class="item">
              <h4>{title}</h4>  
                <h5>{location}</h5>
                <b>Read the full paper <a href={href}>here</a></b>
                      <details>
                      <summary>Abstract</summary>
                      {abstract}
                      </details>
</div>
