---
import avatar from "/avatar.jpg";
---

<div class="presentation-grid">
    <div class="presentation-text">
        <h1>
            Hi, I'm <span class="name-gradient">Matteo Orlando</span>
        </h1>
    </div>
    <div class="presentaion-avatar">
        <img src={avatar} />
    </div>
</div>
