<li id="PROJECTS" class="link-card">
    <h2 class="subtitle">Other projects I worked on</h2>

    <div class="item">
        <h4 class="">Ruritage</h4>
        <h5>2018-2021</h5>
        <p class="">
            The RURITAGE project turns rural areas into laboratories to
            demonstrate natural and cultural heritage as an engine for
            regeneration. I was in charge of the development of the first
            version of the Ruritage Resource Ecosystem. This tool consisted in a
            full stack application that stored geographical data and metadata
            about the partecipants of the project and make it available to the
            public for visualization.
            <br />More info at <a
                href="https://ruritage-ecosystem.eu/"
                target="_blank">ruritage-ecosystem.eu</a
            >
        </p>
    </div>
    <div class="item">
        <h4 class="">
            Development of a wearable IoT device for Covid-19 early diagnosis.
        </h4>
        <h5>2021</h5>
        <p class="">
            Cotutor of the thesis. <br />More info at <a
                href="https://webthesis.biblio.polito.it/18004"
                target="_blank">here</a
            >
        </p>
    </div>
    <div class="item">
        <h4 class="">
            Development of a wearable device for monitoring vital parameters:
            SpO2, heart rate and temperature.
        </h4>
        <h5>2021</h5>
        <p class="">
            Cotutor of the thesis. <br />More info at <a
                href="https://webthesis.biblio.polito.it/17594/"
                target="_blank">here</a
            >
        </p>
    </div>
    <div class="item">
        <h4 class="">
            Design and development of distributed software platform to gather,
            manage and visualize multimedia clinical files
        </h4>
        <h5>2021</h5>
        <p class="">
            Cotutor of the thesis. <br />More info at <a
                href="https://webthesis.biblio.polito.it/19637/"
                target="_blank">here</a
            >
        </p>
    </div>
</li>

